[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/flann"]
	path = lib/flann
	url = https://github.com/flann-lib/flann.git
#[submodule "lib/gdip"]
#	path = lib/gdip
#	url = https://github.com/comrob/gdip
[submodule "lib/gdip"]
	path = lib/gdip
	url = https://github.com/jarajanos/gdip
[submodule "lib/RapidQuadrocopterTrajectories"]
	path = lib/RapidQuadrocopterTrajectories
	url = https://github.com/jarajanos/RapidQuadrocopterTrajectories
